<h1><%= @task.title %></h1>

<h3><%= @task.details %></h3>

<p>This task is completed: <%= @task.completed %></p>

<%= link_to "Back to tasks", tasks_path %>
<%= link_to "Edit this task", edit_task_path(@task) %>
<%= link_to "Delete this task", task_path(@task), method: :delete %>
